[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cstab"]
	path = cstab
	url = https://github.com/jmbh/cstab
[submodule "fspe"]
	path = fspe
	url = https://github.com/jmbh/fspe
[submodule "inet"]
	path = inet
	url = https://github.com/jmbh/inet
[submodule "mgm"]
	path = mgm
	url = https://github.com/jmbh/mgm
[submodule "mnet"]
	path = mnet
	url = https://github.com/jmbh/mnet
